<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Blog Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="stylesheets\css\bootstrap.css" rel="stylesheet">


    <!-- Custom styles for this template -->
    <link href="stylesheets\index.css" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>

<body>
<!-- Static navbar -->
<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" style="color:#1b6d85">BoatVentures(Tupkalenko)</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><p class="navbar-text" style="font-size:10pt">800-555-5555</p></li>
                <li><a href="https://www.facebook.com/pages/BoatVentures/492032200952350" target="_blank"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://twitter.com" target="_blank"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://mail.google.com/mail/u/0/?view=cm&fs=1&tf=1&source=mailto&to=kakutot27@gmail.com" target="_blank"><i class="fa fa-google"></i> </a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
<!--Another navbar-->
    <div class="container">
            <nav>
                <ul class="nav nav-pills pull-left">
                    <li role="presentation" class="active"style="padding:4px 7px;">
                        <a href="#" style="padding-bottom: 8px">HOME</a></li>
                    <li role="presentation" style="padding:4px 7px;">
                        <a href="/yachts" style="padding-bottom: 8px">YACHTS</a></li>
                    <li role="presentation" style="padding:4px 7px;">
                        <a href="/reservations" style="padding-bottom: 8px">RESERVATIONS</a></li>
                    <li role="presentation" style="padding:4px 7px;">
                        <a href="/blog" style="padding-bottom: 8px">BLOG</a></li>
                </ul>
            </nav>

    </div>
</body>
<div class="jumbotron" style="border-bottom: 1px solid darkgrey;border-top: 1px solid darkgrey;height:500px">
    <section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="p-5">
                    <img class="img-responsive thumbnail" src="images/1.jpg" width="550px" height="450px">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="container">
                    <h1 style="margin-top:80px;color:#1b6d85">Be Adventurous!</h1>
                    <p>Get away for a day or a weekend aboard one of our beautiful yachts. Let our experienced crews take you on an adventure.</p>
                    <p><a class="btn btn-primary btn-lg" href="/reservations" role="button">Book Now!</a></p>
                </div>
            </div>
        </div>
    </div>
    </section>
    <section style="margin-top: 50px">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                <p><b>BoatVentures</b> offers crewed charter services aboard our new 37' Sea Ray Sundancer plus great fishing
                    outings boards our 20' Mako Center Console.
                    Let us create an unforgettable private charter aboard one of our
                    beautiful cruisers. Our crew will take you away for a few hours or the whole day to
                    Nantucket, Martha's Vineyard, Cuttyhunk, and other wonderful spots along Cape Cod and beyond.</p>
                </div>
                <div class="col-lg-3">
                    <div class="container" style="margin-left:40px">
                        <img class="img-responsive thumbnail" src="images/boat1.jpg" width="240px" height="200px">
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="container" >
                        <img class="img-responsive thumbnail" src="images/boat2.jpg" width="208px" height="200px">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <hr>
    <footer>
        <div class="text-center">
            <p>&copy; 2018 Tupkalenko R.</p>
        </div>
    </footer>
</div>
</html>
