<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="">
    <meta name="author" content="">

    <title>Blog Template for Bootstrap</title>
                             <!-- Bootstrap core CSS -->
        <link href="stylesheets\css\bootstrap.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="stylesheets\index.css" rel="stylesheet">
        <link href="stylesheets\blog.css" rel="stylesheet">
        <link href="stylesheets\yachts.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    </head>
    <body>
    <section>
        <div class="centralColumn">
        </div>
    </section>
    <div id = "yachts">
        <div class="container">
            <div class="row">
                <div class="col-sm-4" style="margin-top:40px">
                    <h3 style="color:#1b6d85">Quiet time</h3>
                    <img class="img-responsive thumbnail" src="images/boat2.jpg" width="300px" height="400px">
                </div>
                <div class="col-sm-6" style="margin-top:80px">
                <p>
                    <i>Quiet Time</i> is a beautiful 37' Sea Ray motor yacht that is a joy to cruise.
                    She has ample of space inside and out and boats powerful
                    engines to get you to your destination quickly and in comfort.
                    The boat is fully air conditioned and has a roomy toilet with shower.
                    A cockpit shower is available to freshen up after swimming.
                    <br>
                    <br>
                    List of features: BBQ, generator, A/C, showers, bathroom, TV/DVD, bow sunpads
                </p>
                </div>
            </div>
        <hr>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-4" style="margin-top:40px">
                    <h3 style="color:#1b6d85">Mako</h3>
                    <img class="img-responsive thumbnail" src="images/boat3.jpg" width="300px" height="400px">
                </div>
                <div class="col-sm-6" style="margin-top:80px">
                    <p>
                        This little battlewagon is great for inshore and near-shore fishing, although we've been known to
                        go offshore for tuna on it, too. This sturdy 20' Mako center console is
                        available for rental as well as guided fishing and lobstering charters.
                    </p>
                </div>
            </div>
            {{#if resObject}}
                <hr>
            {{/if}}
        </div>
    </div>
    </body>
</html>
<script>
    ( function addYachts() {


        {{#each resObject}}
                var counter = 0;
                var container = document.createElement("div");
                container.className = "container";
                var row = document.createElement("div");
                row.className = "row";
                var col = document.createElement("div");
                col.className = "col-sm-4";
                col.style = "margin-top:40px";
                var node = document.createTextNode('{{Yacht_Name}}');
                var h3 = document.createElement("h3");
                h3.style = "color:#1b6d85";
                h3.appendChild(node);
                var img = document.createElement("IMG");
                img.setAttribute("src", "images/x.png");
                img.className = "img-responsive thumbnail";
                img.setAttribute("width", "300");
                img.setAttribute("height", "400");
                col.appendChild(h3);
                col.appendChild(img);
                row.appendChild(col);
                var col2 = document.createElement("div");
                col2.className = "col-sm-6";
                col2.style = "margin-top:80px";
                var p = document.createElement("P");
                var node2 = document.createTextNode('{{Descr}}');
                p.appendChild(node2);
                col2.appendChild(p);
                row.appendChild(col2);
                container.appendChild(row);
                var element = document.getElementById("yachts");
                var hr = document.createElement("hr");
                container.appendChild(hr);
                element.appendChild(container);
        {{/each}}
    })()
</script>